#produtoBady{
    background-image: url(img/fotoproduto.jpg)
}
#produtoCampo{

    size: 100px;
    height: 50px;
    width: 600px;
    font-size: 30px;
    color: #3333ff;
    border-radius: 25px;
    
}
#produtoBotao{
    size: 100px;
    height: 50px;
    width: 605px;
    border-radius: 25px;
}
#produtoH1{
    font-size: 30px;
    color: #6666ff;
        
}
#produtoCombobox{
    font-size: 30px;
    height: 50px;
    width: 605px;
    color: #3333ff;
    animation: none;
    border-radius: 25px;
    
    
}

